<html>
<script type="text/javascript" src="/assets/js/gogogo.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/gogogo.css">
<script src="/assets/js/socket.io.js"></script>

<body onload="createWorld()">


    <small>
        <div id="key_arrow_or_other">
        </div>
        <form style="float:right" method="POST" action="/logout">
            <button type="submit">Logout</button>
        </form>
    </small>
    <div class="tg-wrap">
        <table class="tg" id="world">
        </table>
    </div>


    <!-- .... -->

</body>

</html>