<html>
<title>Gogogo!!</title>
<link href="/assets/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <form class="form-horizontal" method="POST" action="/login">
                    <fieldset>
                        <div id="legend">
                            <legend class="">GOGOGO</legend>
                            <small style="float:right"><a href="/register">Registrar</a></small>
                        </div>
                        <div class="control-group">
                            <!-- Username -->
                            <label class="control-label" for="name">Jugador</label>
                            <div class="controls">
                                <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <input type="submit" class="btn btn-success" value="Jugar"></input>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>